<body class="background-clr">
  <div class="background-image img-fluid">
    <div class="contact-heading">
      <h2>Contact Us</h2>
    </div>
  </div>
  <h4 class="text-center mt-5 mb-4 text-light">Let's Start A Conversation</h4>
  <div class="container">
    <div class="row justify-content-center">
      <p class="text-light">
        Have questions, feedback, or just want to get in touch? We'd love to hear from you! Feel free to reach out using the form.
      </p>
      <div class="col-lg-6 mb-3">
       
        <img class="img-2 img-fluid" src="./images/headsets-1971383_1920.jpg">
      </div>
      <div class="col-lg-6 form-container mb-3">
        <form id="contactForm" method="post" action="">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter your First name" required />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your Last name" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"name="email" placeholder="Enter your email" required />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="4"name="message" placeholder="Enter your message" required></textarea>
          </div>
          <input id="submitBtn" type="submit" />
        </form>
      </div>
    </div>
  </div>
</body>
