
<div class=" background-image-3 background-image-6">



<div class=" form-container-2">
    <div class="row justify-content-center"> 
        <div class=" mt-5"> 
            <div class=" form-container-3 token-break"> 
<% if (token) { %>
    <div class="text-light  form-group"></div> " >
        <p class=" text-center text-light">Token: <%= token %> </p>
    </div>
<% } %>
</div>
</div>
    </div></div> 